.git
data/
*.duckdb
*.duckdb.wal
mlruns/
mlflow.db
dbt_fraud/target/
dbt_fraud/logs/
dbt_fraud/dbt_packages/
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.ruff_cache/
tests/
docs/
PROJETS.pdf
platform_ui/node_modules/
platform_ui/dist/
